.Modal {
  height: 100%;
  
}

.Overlay {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 199;
}

.header {
  width: 100%;
  height: 5%;
  
  button {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.frame {
  width: 100%;
  height: 95%;
  text-align: center;

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  
  img {
    margin:0 auto;
    vertical-align: middle;
  }

  audio {
    width: 600px;
  }
  
  textarea {
    width: 400px;
    height: 200px;
  }
}
